.page {
  padding: 0;
  background: linear-gradient(to bottom, #02207e, #000 40%);
}

.content {
  color: #eee;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -1px;
  font-weight: 600;
}

.description {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
}
