@import "@/ui/GlobalStyles/mixins/mq.scss";

$checkerBlack: #0F0F0F; /* Matches the dark gray of page2 */
$checkerWhite: #703619; /* Matches the rich dark brown of page2 */

.page {
  position: relative;
}

.pageInner {
  padding: 88px 0 20px 0;

  @include mqMaxWidth(768px) {
    padding: 88px 20px 20px 20px;
  }
}

.content {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}

.logo {
  width: 160px;
  margin: 0 auto 44px auto;
  text-align: center;

  a {
    width: 160px;
    height: 160px;
    display: block;
    cursor: pointer;
  }

  img {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.logoContainer {
  width: 200px;
  margin: 38px auto;
}

.description {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -1px;
  font-weight: 600;
  color: #D3D3D3;
}

.experience {
  margin: 40px 0;

  h2, h3 {
    margin-bottom: 15px;

    span {
      color: #888891;
    }
  }
}

.discography {
  column-count: 2;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  // Uncomment when is second release is avaliable
  max-width: 800px;
  //width: 560px;

  @include mqMaxWidth(768px) {
    display: block;
    column-count: 1;
    justify-content: normal;
    width: 520px;
    max-width: 100%;
  }
}

.divider {
  isplay: block;
  width: 100%;
  max-width: 520px;
  margin: 25px auto 10px auto;
  height: 1px;
  background: rgba(40, 40, 42, 0.52);
}

.comingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

.release {
  position: relative;
  // Uncomment when is second release is avaliable
  //width: 50%;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 0;
  // Uncomment when is second release is avaliable
  //margin-bottom: 20px;

  @include mqMaxWidth(768px) {
    width: 100%;
    padding: 0;

    &:last-of-type {
      margin-top: 20px;
      // Uncomment when is second release is avaliable
      //margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.item {
  display: block;
  border-bottom: 1px solid #28282a;
  padding: 18px;

  span {
    font-size: 16px;
    line-height: 26px;
    color: #888891;
    display: block;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &.fav {
    color: #FFD700;
  }
}

.album {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 16px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.cover {
  width: 100px;
  height: 100px;

  img {
    border-radius: 4px;
  }
}

.albumInfo {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #89929c;
  height: 100%;

  h3 {
    font-size: 21px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 8px;
  }

  span {
    padding: 0;
    margin-top: -4px;
  }
}
